body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  .calculator {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .calculator h2 {
    font-size: 24px;
    margin-top: 0;
  }
  
  .input-group {
    margin-top: 10px;
  }
  
  .input-group label {
    display: inline-block;
    min-width: 180px;
  }
  
  .input-group input {
    width: 200px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  #calculate-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #050505;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #calculate-btn:hover {
    background-color: #000000;
  }
  
  #result {
    margin-top: 20px;
    font-size: 20px;
  }
  #my-div {
    width: 200px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    display: block;

    
  }




#my-button {
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #483f3f;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

#my-button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -4px;
    left:-4px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

#my-button:active {
    color: #000
}

#my-button:active:after {
    background: transparent;
}

#my-button:hover:before {
    opacity: 1;
}

#my-button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes my-button {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}